body{
    background-color: #0c101c;
}



body {
  background-color: #0c101c;
  margin: 0; 
}

.navbar {
  list-style: none;
  font-size: 1.15rem;  
  padding-top: 1rem;
  padding-right: 3rem;  
  display: flex;
  justify-content: flex-end; 
  background: rgba(255, 255, 255, 0.025);
  backdrop-filter: blur(20px);
  position: sticky;
    top: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    
}

.navbar li {
  margin: 0 5px; 
  margin-bottom: 0.3rem;
}

.navbar li a {
  color: #798091;
  text-decoration: none;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top:0.50rem;
  padding-bottom:0.50rem;
  border-radius: 8px;
  transition: 0.30s ease-in-out;
}

.navbar li a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  padding: 1%;
}
#subhead{
  color: #1299a3;
  margin-top: 10%;
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 1rem;
  /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.20) ; */
  background-color: rgba(54, 126, 136, 0.05);
  width: 20rem;
  padding-top:  7px;
}
#mainhead{
color: white;
font-size: 5rem;
}
#headtext{
  color: #7488a1;
  font-size: 1.25rem;

}
#startbtn{
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: #0c101c;
  background-color: #19bdd3;
  font-size: 1.55rem;
  border-radius: 1rem;
  padding-top: 0.75rem;  
  padding-bottom: 0.75rem;  
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 100px #0E3240;
  transition: transform 0.25s ease-in-out;
}

#startbtn:hover{
  transform: scale(1.025);
}
#browsebtn{
  display: inline-block;
  margin-left: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: #ffffff;
  /* background-color: #19bdd3; */
  font-size: 1.55rem;
  border-radius: 1rem;
  padding-top: 0.75rem;  
  padding-bottom: 0.75rem;  
  border: 1px solid #0e32408c;
  z-index: 999;
  /* box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.2); */
  transition: transform 0.25s ease-in-out;
}

#browsebtn:hover{
  transform: scale(1.025);
}

.webdash{
  margin-top: 3rem;
  background-color: #0C111E;
  width: 90%;
  height: 10rem;
  border-radius: 1rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 3px solid #0D2936 ;
transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);}

.webdash:hover{
  box-shadow: 0px 0px 200px #19bdd349;
}
.webdash h2{
    color: #19BDD3;
    font-size: 3rem;  
    transition: transform 0.3s ease-in-out;
}
.webdash h2:hover{
  transform:scale(1.05);
}
.webdash p{
  color: #798091;
}
.main{
     background-image: linear-gradient(to bottom,#0C101C,#19bdd310 );

}
.gradient{
  height: 100px;
     background-image: linear-gradient(to top,#0C101C,#19bdd310 );

}

#powerful{
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
}

#powerful::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #19BDD3;

  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

#powerful:hover::after{
  transform: scale(1);
}



.features{
  display:flex;
  justify-content:center;
  gap:2rem;
  flex-wrap:wrap;
}

.feature{
  width:280px;
  padding:2rem;
  border-radius:12px;
  background:#0C111E;
  border:1px solid rgba(255,255,255,0.08);

  display:flex;
  flex-direction:column;
  align-items:flex-start;
}

.div1{
  width: 90%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  padding-left: 15%;
    
}
.div1 img{
  width: 50px;
  height: 52px;
  margin-right: 210px;
  margin-top: 10px;
  border-radius: 0.5rem;
  padding: 5px;
  background-color: #0D2837;
  margin-left: 1rem;

}

.div1 h4{
  color: white;
  margin-left: 1rem;

  
}
.div1 p{
  color: #7488a1;
  margin-left: 1rem;

}

.prompt{
  border: 1px solid #19BDD3;
  border-radius: 1rem;
  width: 300px;
  height: 200px;
  margin-left: 50%;
  margin:2rem;
  transition: transform 0.3s ease-in-out;
}

.prompt:hover{
  background-color: #19bdd309;
  transform: scale(1.01);
}

.template{
  border: 1px solid #19BDD3;
  border-radius: 1rem;
  width: 300px;
  height: 200px;
  margin:2rem;
  transition: transform 0.3s ease-in-out;

}

.template:hover{
  background-color: #19bdd309;
  transform: scale(1.01);
}

.ai{
  border: 1px solid #19BDD3;
  border-radius: 1rem;
  width: 300px;
  height: 200px;
  margin:2rem;
  transition: transform 0.3s ease-in-out;


}
.ai:hover{
  background-color: #19bdd309;
  transform: scale(1.01);
}



.div2{
  width: 90%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  padding-left: 15%;
}

.div2 h1{
  color: #0D2230;
  font-size: 3rem;
}
.div2 h4{
  color: white;
}

.div2 p{
  color: #7488a1;
}
.step1{
  text-align: center;
  width: 15rem;
  margin: 2rem 2rem 2rem 10rem;


}
.step2{
  text-align: center;
  width: 15rem;
    margin: 2rem;


}
.step3{
  text-align: center;
  width: 15rem;
    margin: 2rem;


}


#how{
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
}

#how::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #19BDD3;

  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

#how:hover::after{
  transform: scale(1);
}

#user{
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
}

#user::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #19BDD3;

  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

#user:hover::after{
  transform: scale(1);
}



.faq{
  width: 60%;
  margin: auto;
  text-align: left;
}

.accordion-item{
  background-color: #0D111F;
  border: none;
  margin-bottom: 1rem;
}

.faq-btn{
  background-color: #0D111F;
  color: white;
}

.faq-btn:hover{
  color: #19BDD3;
}

.accordion-button:not(.collapsed){
  background-color: #0D111F;
  color: #19BDD3;
}

.accordion-body{
  background-color: #0D111F;
  color: #5C6C85;
}

.accordion-button:focus{
  box-shadow: none;
}




/* FOTTER */
.footer{
    background:#0b0f1a;
    padding:70px 10%;
    color:#9aa4b2;
    font-family: 'Inter', sans-serif;
}

.footer-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
}

.footer-col h3{
    color:white;
    margin-bottom:15px;
    font-size:18px;
}

.footer-col ul{
    list-style:none;
    padding:0;
}

.footer-col ul li{
    margin:10px 0;
}

.footer-col ul li a{
    color:#9aa4b2;
    text-decoration:none;
    transition:0.3s;
}

.footer-col ul li a:hover{
    color:#1bd4e6;
    text-shadow:0 0 8px #1bd4e6;
}

.logo{
    color:#1bd4e6;
    margin-bottom:10px;
}

.tagline{
    color:white;
    margin-bottom:8px;
}

.desc{
    font-size:14px;
    margin-bottom:20px;
}

.socials a{
    color:#1bd4e6;
    margin-right:12px;
    font-size:18px;
    transition:0.3s;
}

.socials a:hover{
    transform:scale(1.2);
    text-shadow:0 0 10px #1bd4e6;
}

.footer-bottom{
    border-top:1px solid #1c2433;
    margin-top:50px;
    padding-top:20px;
    display:flex;
    justify-content:space-between;
    color:#9aa4b2;
    font-size:14px;
}



.div3{
  width: 90%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  
  padding-left: 15%;
  text-align: center;
  
}


.div3 h4{
  padding-left: 10px;
  width: 7rem;
  border-radius: 1rem;
  color: #159EB3;
  background-color: #0D2432 ;

}

.div3 h2{
  color: white;
  font-size: 1.5rem;
}
.div3 p{
  color: #6A7B95;
}
#copy{
  font-size: 1.3rem;
  color: #159EB3;
  background-color: #0D2432 ;
  border-radius: 1rem;
  padding: 2px;

}

#copy:hover{
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.082);
}

.blog{
  padding: 10px;
  border-radius: 2rem;
  width: 25rem;
  height: 15rem;
  border: 1px solid #141927;
  margin: 1.5rem;
}
.blog:hover{
  box-shadow: 0px 0px 20px #19bdd317;
}

.socialmediaopst{
  padding: 10px;
  border-radius: 2rem;
  width: 25rem;
  height: 15rem;
  border: 1px solid #141927;
  margin: 1.5rem;
}
.socialmediaopst:hover{
  box-shadow: 0px 0px 20px #19bdd317;
}


.email{
  padding: 10px;
  border-radius: 2rem;
  width: 25rem;
  height: 15rem;
  border: 1px solid #141927;
  margin: 1.5rem;
}
.email:hover{
  box-shadow: 0px 0px 20px #19bdd317;
}

.product{
  padding: 10px;
  border-radius: 2rem;
  width: 25rem;
  height: 15rem;
  border: 1px solid #141927;
  margin: 1.5rem;
}
.product:hover{
  box-shadow: 0px 0px 20px #19bdd317;
}


.youtube{
  padding: 10px;
  border-radius: 2rem;
  width: 25rem;
  height: 15rem;
  border: 1px solid #141927;
  margin: 1.5rem;
}

.youtube:hover{
  box-shadow: 0px 0px 20px #19bdd317;
}


.resume{
  padding: 10px;
  border-radius: 2rem;
  width: 25rem;
  height: 15rem;
  border: 1px solid #141927;
  margin: 1.5rem;
}

.resume:hover{
  box-shadow: 0px 0px 20px #19bdd317;
}


.story{
  padding: 10px;
  border-radius: 2rem;
  width: 25rem;
  height: 15rem;
  border: 1px solid #141927;
  margin: 1.5rem;
}

.story:hover{
  box-shadow: 0px 0px 20px #19bdd317;
}


.code{
  padding: 10px;
  border-radius: 2rem;
  width: 25rem;
  height: 15rem;
  border: 1px solid #141927;
  margin: 1.5rem;
}

.code:hover{
  box-shadow: 0px 0px 20px #19bdd317;
}


.startup{
  padding: 10px;
  border-radius: 2rem;
  width: 25rem;
  height: 15rem;
  border: 1px solid #141927;
  margin: 1.5rem;
}

.startup:hover{
  box-shadow: 0px 0px 20px #19bdd317;
}


.notes{
  padding: 10px;
  border-radius: 2rem;
  width: 25rem;
  height: 15rem;
  border: 1px solid #141927;
  margin: 1.5rem;
}

.notes:hover{
  box-shadow: 0px 0px 20px #19bdd317;
}

#roll .accordion-item{
  color: #798091;
  text-decoration: none;
  font-size: 0.9rem;
}

.link:hover{
  color: #19BDD3;
}